header(class="masthead", style= `background-image: url(${bg_img})`)
    .overlay
    .container
        .row
            .col-lg-8.col-md-10.mx-auto
                .site-heading
                    h1= title
                    span(class="subheading")= subtitle
                    span.meta= username ? "Posted by " + username + " on " + createDate.toDateString()  : null