extends layout

block content
    include includes/header
    .container
        .row
            .col-lg-8.col-md-10.mx-auto
                each item in blogposts
                    .post-preview
                        a(href="/post/" + item._id)
                            h2.post-title= item.title
                            h3.post-subtitle= item.description
                        p.post-meta Posted By 
                            a(href="#")= item.userid.username
                            |  on #{item.createDate.toDateString()}
                hr
                .post-preview
                    a(href="blalba")
                        h2.post-title Man must explore, and this is exploration at its greatest
                        h3.post-subtitle Problems look mighty small from 150 miles up
                    p.post-meta Posted By 
                        a(href="#") Start Bootstrap
                        |  on September 24, 2019

    include includes/footer
    include includes/scripts