extends ../layout

block content
    include ../includes/header
    .container 
        .row 
            .col-lg-8.col-md-10.mx-auto
                h1(class="title") About Me 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat animi exercitationem eos quibusdam incidunt beatae. Asperiores mollitia necessitatibus suscipit?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dolorem reprehenderit corrupti suscipit cumque assumenda, odio recusandae quam aut labore?
    include ../includes/footer
    include ../includes/scripts